@tailwind base;
@tailwind components;
@tailwind utilities;


/*ESTADOS PARA ANIMAÇÃO DOS BOTOES DE NAVEGAÇÃO*/
   @layer components {
    /*config geral de todas as barras*/
  .step-tab {
    @apply inline-flex items-center justify-center transition rounded-full;
  }

  /* futura */
  .step-tab.is-future {
    @apply w-max-[70px] h-[10px] bg-gray-300 cursor-default pointer-events-none;
  }

  /* concluída */
  .step-tab.is-complete {
    @apply w-max-[70px] h-[10px] bg-black cursor-pointer;
  }

  /* atual */
  .step-tab.is-active {
    @apply w-max-[90px] h-[50px] bg-black text-white rounded-3xl cursor-default pointer-events-none;
  }
/*texto no span na barra ativa*/
  .step-tab.is-active span {
    @apply inline font-semibold text-sm leading-[1.1] whitespace-nowrap;
  }
 /*texto do span na barra inativa*/
  .step-tab:not(.is-active) span {
    @apply hidden;
  }
}
/*FIM DOS BOTOES DE NAVEGAÇÃO*/


/* ANIMAÇÃO RANGE SIMULAÇÃO*/
/* Base */
input.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}
input.range:focus { outline: none; }

/* WebKit (Chrome/Edge/Safari) */
input.range::-webkit-slider-runnable-track {
  height: 7px;
  border-radius: 9999px;
  background: linear-gradient(to right,
    #000 var(--pct, 0%),
    #D1D5DB var(--pct, 0%)
  );
}
input.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* MUDANÇAS: Cor e Borda */
  background: white; 
  border: 2px solid #000; 
  /* FIM MUDANÇAS */
  margin-top: -6px; /* Ajustado para centralizar com a borda de 2px */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

/* Firefox */
input.range::-moz-range-track {
  height: 7px;
  border-radius: 9999px;
  background: #D1D5DB;
}
input.range::-moz-range-progress {
  height: 7px;
  border-radius: 9999px;
  background: #000;
}
input.range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* MUDANÇAS: Cor e Borda */
  background: white; 
  border: 2px solid #000; 
  /* FIM MUDANÇAS */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

/* (Opcional) Especificidade máxima por id */
#valor-moto.range, 
#valor-entrada.range { -webkit-appearance:none; appearance:none; }

/*FIM RANGE*/




  @keyframes aparecerErro {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
  }

  /* Força espaçamento maior entre os blocos da etapa "Dados da Venda" */
 /* src/styles.css */
  #dados_venda .grid > :nth-child(2) { margin-top: 1.5rem !important; } /* ~32px */

